@model IEnumerable<InformSite.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список категорий</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Название</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
